body{
    margin: 0;
    font-family: "poppins",sans-serif;
}
*{
    box-sizing: border-box;
}
h1,h4,h5 {
    margin: 0;
}
.btn_dark,
.btn_light{
    display: inline-block;   
    color: #fff;
    text-decoration: none;
    padding: auto;
    border-radius: 150px;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.4s;
}
.btn_dark{
    background-color: #212121;
}
.btn_light{
    background-color: #f4511e;

}
.btn_dark:hover{
    background-color: #fff;
    color: #f4511e;
}
.margin_top{
    margin-top: 20px;

}
.imagr_responsive {
    width: 100%;
    max-height: 100%;
    height: auto;
}
.navbar ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #212121;
}
.navbar ul li{
    display: inline-block;

}
.navbar li a{
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 20px;
    font-size: 13px;
    color: #f4511e;
    letter-spacing: 2px;
}
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: url("../img/topimage.jpg");
    background-size: cover;
    background-blend-mode: multiply;

}
.hero_text{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.hero_text h1{
    font-size: 100px;
    font-weight: 4SSS00px;
}
.hero_text p{
    letter-spacing: 5px;
 }
.recipe_section{
    padding: 70px 0;

}

.breakfast{
    width: 50px;
}

.lunch{
    width: 100px;
    padding-left: 200px;
}

.dinner{
   width: 300px;
   padding-left: 400px;
}
.image_wrapper {
    position: relative;
    width:200px;
    height: 400px;
    background-color: red;
    overflow: hidden;
    border-radius: 2px;
}
.image_wrapper img {
    width: 150%;
    max-width: 400%;
    height: auto;
    transition: all 0.4s;
}
.image_wrapper:hover img {
    transform: scale(1.4, 1.4);
}
.image_wrapper-text {
    padding: 30px 15px;
    max-height: 250px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.image_wrapper-text h5 {
    color: #f4511e;
    font-size: 20px;
    font-weight: 500;
}
.image_wrapper-text p {
    line-height: 26px; 
}

.about__section{
    padding: 50px 0;
    background-color: #f4511e;
    color: #fff;
}
.about__section h4 {
    font-size: 28px;
    font-weight: 500;
}
.about__section p {
    line-height: 36px;
    font-weight: 100;
}
.image_background {
    position: relative;
    z-index: 1;
}
.image_background::before {
    position: absolute;
    top: 30px;
    left: 30px;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #212121;
}
.image_background img {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.extra_section {
    
    padding: 70px 0;
}
.extra_sectionh4 {
    font-size: 20px;
    font-weight: 500;
}
.extra_section p {
    line-height: 300px;
}

.atom .btn_light{
   font-size: 20px;
   position: relative;
   left: 750px;
   top: -200px;
}

.atom h4{
    color: white;
    position: absolute;
}

.subscribe_section{
    padding: 40px 0;
    background-color: #212121;
    color: #fff;
}
.subscribe_section form { 
    display: flex;

}
.subscribe_section button {
    background-color: #f4511e;
    color: #fff;
    border: none;
    padding: 10px 20px;
}
.category-section{
    padding: 70px 0;
    width: 300px;
    height: 300px;
}